.home {
  flex: 1;
  display: flex;
  

  &__content {
    margin: auto;
    height: 90%;
    width: min(80%, 1500px);
  }

  &__metrics {
    display: flex;
    gap: 2%;
  }

  &__chart {
    flex: 3;
  }
}

.user-presentation {
  margin-bottom: 4rem;
  &__title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  &__name-user {
    color: var(--main-color-name-user);
  }

  &__message-incentive {
    font-size: 1.25rem;
  }
}
