.nutrients {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  width: 100%;
  min-width: 210px;
  max-width: 260px;
  flex: 1;

  @media (max-width: 1200px) {
    flex-direction: row;
    min-width: 100%;
    order: -1;
    margin-bottom: 1rem;
  }
}

.metric-card {
  display: flex;
  padding: 2rem;
  background-color: var(--bg-metric-card);
  border-radius: 5px;
  gap: 1.5rem;

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__value {
    font-size: 1.125rem;
    font-weight: 700;
  }

  &__category {
    color: var(--label-color);
    font-weight: 500;
    font-size: 0.875rem;
  }

  @media (max-width: 1200px) {
    padding: 1rem;
    gap: 1rem;
    width: fit-content;
    & img {
      height: 40px;
    }
  }
}