:root {
  --main-bg-color: #FFF;
  --main-bg-color-nav: #020203;
  --main-color: #000;
  --secondary-color: #FFF;
  --main-color-name-user: #FF0101;
  --main-bg-chart: #FBFBFB;

  // daily activity chart
  --first-bar-daily-color: #000;
  --second-bar-daily-color: #FF0101;
  --bg-tooltip: #FF0101;

  // metric card 
  --bg-metric-card: #FBFBFB;
  --label-color: #74798C;

  --desktop-font-size-nav: 1.5rem;

  --main-font-family: 'Roboto', sans-serif;
}