:root {
  --main-bg-color: #FFF;
  --main-bg-color-nav: #020203;
  --main-color: #000;
  --secondary-color: #FFF;
  --main-color-name-user: #FF0101;
  --main-bg-chart: #FBFBFB;

  // daily activity chart
  --first-bar-daily-color: #000;
  --second-bar-daily-color: #FF0101;
  --bg-tooltip: #FF0101;

  // metric card 
  --bg-metric-card: #FBFBFB;
  --label-color: #74798C;

  // average sessions chart
  --bg-average-chart: #FF0101;
  --color-average-chart-path: #FFF;
  --color-average-chart-label: #FFF;
  --color-average-chart-shade: #000;
  --color-average-chart-title: #FFF;


  // performance chart
  --bg-performance-chart: #282D30;
  --color-plot-performance-chart: #FF0101;
  --opacity-plot-performance-chart: 0.7;
  --color-stroke-level-performance-chart: #FFF;
  --color-label-performance-chart: #FFF;

  --desktop-font-size-nav: 1.5rem;

  --main-font-family: 'Roboto', sans-serif;
}