:root {
  --main-bg-color: #FFF;
  --main-bg-color-nav: #020203;
  --main-color: #000;
  --secondary-color: #FFF;
  --main-color-name-user: #FF0101;

  --desktop-font-size-nav: 1.5rem;

  --main-font-family: 'Roboto', sans-serif;
}