.score-chart {
  background-color: var(--bg-score-chart);
  border-radius: 5px;
  transition: transform 200ms ease-in-out;

  &__arc-plot {
    fill: var(--color-arc-score-chart);
  }

  &__label-text {
    text-anchor: middle;
    dominant-baseline: middle;
    fill: var(--color-text-score-chart);
    font-weight: 500;
  }

  &__label-text--value {
    fill: var(--color-value-score-chart);
    font-weight: 700;
  }

  &__circle {
   fill: var(--color-circle-score-chart);
  }

  &:hover {
    transform: scale(1.06);
  }
}